<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><%= page.title %></title>
  </head>

  <body>
    <div id="container">
      <h1>Blog tag</h1>
    </div>
  </body>
</html>
