/* Left Panel {{{ */

#left #blog-switcher {
  padding: 8px;
  text-shadow: rgba(255, 255, 255, 0.5) 0px 1px;
}

#left #blog-switcher label {
  float: left;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 130%;
  vertical-align: middle;
}

#left .actions {
  margin: 0px;
  padding: 0px;
}

#left .actions li {
  display: inline;
  list-style: none;
}

#left .actions li a {
  position: relative;
  display: block;
  background: #ccc;
  margin: 0px 0px 8px;
  padding: 8px;
  color: #222;
  text-decoration: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

#left .actions li a strong {
  display: block;
  font-size: 125%;
}

#left .actions li a:hover {
  background: #bbb;
}

#left .actions li.active a {
  background: #999;
  margin-right: -8px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px;
}

#left .actions li small {
  position: absolute;
  right: 0.5em;
  top: 50%;
  min-width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  margin: -0.75em 0em 0em;
  text-align: center;
  vertical-align: middle;
  background: #ec008c;
  color: white;
  font-size: 1.0em;
  -webkit-border-radius: 0.75em;
  -moz-border-radius: 0.75em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px -1px 1px, rgba(255, 255, 255, 0.5) 0px 1px 1px;
}

#left .actions li.active small {
  margin-right: 8px;
}

/* }}} */

/* Tables {{{ */

table.fancy {
  border-collapse: collapse;
  border-spacing: 0px;
  width: 100%;
}

table.fancy thead th {
  background: #999;
  border-bottom: 1px solid #999;
  height: 24px;
  line-height: 24px;
  vertical-align: middle;
  padding: 0px 8px;
  text-align: left;
}

table.fancy thead th:first-child {
  background-position: 0px 0px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
}

table.fancy thead th:last-child {
  background-position: 100% 0px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
}

table.fancy tbody td {
  border-bottom: 1px solid #999;
  padding: 0px 8px;
  vertical-align: top;
}

table.fancy tfoot td {
  background: #ddd;
  padding: 8px;
}

table.fancy tfoot td:first-child {
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
}

table.fancy tfoot td:last-child {
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
}

table.fancy tfoot .pagination a, table.fancy tfoot .pagination span {
  padding: 0em .3em;
}

table.fancy tfoot .pagination span.disabled {
  color: #999;
}

table.fancy tfoot .pagination span.current {
  background: white;
  min-width: 16px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
}

table.fancy tfoot .pagination a {
  text-decoration: none;
  color: #333;
}

table.fancy tfoot .pagination .previous_page {
  margin-left: 0px;
}

table.fancy tfoot .pagination a:hover, table.fancy tfoot .pagination a:focus {
  text-decoration: underline;
}

table.fancy td.empty {
  padding: 3em 8px;
  text-align: center;
  vertical-align: middle;
  color: #999;
}

table.fancy tbody tr:hover td.empty {
  background: none;
}

tbody tr:hover {
  background-color: #fff;
}

table td.odd,  table th.odd,  table tr.odd td,  table tr.odd th {
  background: none;
}

table td.even, table th.even, table tr.even td, table tr.even th {
  background-color: #ddd;
}

.container .with-selected {
  position: absolute;
  left: 0px;
  top: -32px;
  background: #ffc;
  padding: 4px 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 4px;
  -webkit-border-radius: 4px;
}

.container .with-selected:after {
  content: ".";
  text-indent: -2em;
  position: absolute;
  left: 16px;
  bottom: -8px;
  width: 0px;
  height: 0px;
  overflow: hidden;
  border-left: 8px solid #ffc;
  border-bottom: 8px solid transparent;
}

/* }}} */

#main .header .button {
	position: absolute;
	right: 8px;
	top: 3px;
  width: 208px;
  text-align: center;
  padding: 8px 0px 9px;
}

/* Settings {{{ */
  
.breeze-form fieldset > ol > li.spam-strategy fieldset {
  margin: 0px 0px 8px;
  padding: 0px;
}

.breeze-form fieldset > ol > li.spam-strategy fieldset ol {
  padding: 0px;
  width: 100%;
}

/* }}} */

/* Categories {{{ */

#tab_categories #blog_categories {
  margin: 0px 16px 8px;
  padding: 0px;
  max-width: 384px;
}

#blog_categories .category {
  position: relative;
	display: block;
	background: #ccc;
	margin: 0px 0px 8px;
	padding: 0px 4px 0px 8px;
	line-height: 32px;
	vertical-align: middle;
	color: #222;
	cursor: move;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

#blog_categories .category a.view,
#blog_categories .category a.edit,
#blog_categories .category a.delete {
  opacity: 0;
  float: right;
  margin: 4px 0px 0px 4px;
  width: 24px;
  height: 24px;
  background-color: #ddd;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  text-indent: -20em;
  overflow: hidden;
  text-decoration: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-transition: opacity 0.12s ease-in, background-color 0.12s ease-in;
}

#blog_categories .category:hover a.view,
#blog_categories .category:hover a.edit,
#blog_categories .category:hover a.delete {
  opacity: 1.0;
}

#blog_categories .category a.view   { background-image: url(/breeze/images/icons/category-view.png); }
#blog_categories .category a.edit   { background-image: url(/breeze/images/icons/category-edit.png); }
#blog_categories .category a.delete { background-image: url(/breeze/images/icons/category-delete.png); }

#blog_categories .category a.view:hover,
#blog_categories .category a.edit:hover,
#blog_categories .category a.delete:hover { background-color: white; }

#blog_categories .category .category-name {
  color: #222;
  text-decoration: none;
  font-size: 125%;
  font-weight: bold;
}

/*}}}*/

/* Comments {{{ */
	
/* TODO: Some refactoring required to remove repetition (comments and posts). CB 23 Jul 2010. */

.tab-pane h2 {
  margin: 16px 16px 0px;
}

.tab-pane>p {
  margin: 8px 16px 0px;
}

.comments-container, .posts-container {
  margin: 16px;
  position: relative;
}

table.comments tr.comment td, table.posts tr.post td {
  padding: 4px 8px;
}

table.comments tr.comment .comment-context, table.posts tr.post .post-context {
  color: #666;
  border-bottom: 1px dotted #999;
  padding-bottom: 0.5em;
}

table.posts .post-actions {
  font-size: 85%;
  visibility: hidden;
}

table.posts tbody tr:hover .post-actions {
  visibility: visible;
}

table.comments tr.comment .comment-actions, table.posts tr.post .post-actions {
  opacity: 0;
  -webkit-transition: opacity 0.25s ease-in;
}

table.comments tr.comment:hover .comment-actions, table.posts tr.post:hover .post-actions {
  opacity: 1.0;
}

table.comments img.gravatar,
#comment_new img.gravatar {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 4px;
}

.comment-drag-helper {
  height: 32px;
  min-width: 16px;
  padding: 0px 8px;
  line-height: 32px;
  text-align: center;
  vertical-align: middle;
  background: #ec008c;
  color: white;
  font-size: 24px;
  font-weight: bold;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
}

#main-tabs-tabs li a.drop-hover {
  color: black !important;
  text-shadow: #ec008c 0px 0px 4px;
  cursor: pointer;
}

#tab_published .with-selected .approve,
#tab_spam .with-selected .spam { display: none; }

#comment_new fieldset.author-details {
  position: relative;
  margin-right: 80px;
  padding: 0px;
}

#comment_new fieldset.author-details label {
  width: 20%;
}

#comment_new fieldset.author-details .inline-errors {
  margin-left: 20%;
}

#comment_new fieldset.author-details li.gravatar-li {
  position: absolute;
  top: 0px;
  right: -80px;
}

#comment_new fieldset.comment-body {
  margin: 0px;
  padding: 0px;
}

#comment_new fieldset.comment-body label {
  display: none;
}

#comment_new fieldset.comment-body textarea {
  width: 99%;
}

#comment_new fieldset.comment-body .inline-errors {
  margin-left: 0em;
}

/* }}} */

/* Post editor {{{ */

.posts-container .post .title-link {
  font-weight: bold;
  font-size: 125%;
}

.fake-right-sidebar .post-categories label {
  float: none;
  width: auto;
  display: inline;
}

/*}}}*/

#main-tabs-tabs li small {
  font-size: 100%;
  background: #aaa;
  color: white;
  font-weight: bold;
  min-width: 1.5em;
  line-height: 1.5em;
  text-align: center;
  display: inline-block;
  text-shadow: rgba(0, 0, 0, 0.5) 0px 1px 1px;
  -webkit-border-radius: 0.75em;
  -moz-border-radius: 0.75em;
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.5) 0px 1px 1px;
  -moz-box-shadow: inset rgba(0, 0, 0, 0.5) 0px 1px 1px;
}