<% content_for :title, "Blog" %>

<%= pane_layout do |main| %>
  <% main.header do %>
    <h2></h2>
  <% end %>
  <% main.inner do %>
    
  <% end %>
<% end %>

<% content_for :left do %>
  <%= render :partial => "left" %>
<% end %>

<% content_for :right do -%>
  <%= pane_layout do |right| %>
    
  <% end %>
<% end -%>

<% content_for :head do %>
  <style type="text/css" media="screen">
    #left #blog-switcher {
      margin: 8px 0px;
      padding: 7px;
      background: rgba(255, 255, 192, 0.75);
      text-shadow: #ffc 0px 1px;
      border: 1px solid #ffc;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 4px;
    }
  </style>
<% end %>